.horizontal {
    display: flex;
    gap: 1em;
    overflow: auto;
}

.vertical {
    display: grid;
    grid-template-columns: repeat(auto-fit, min(250px, 45vw));
    gap: 1em;
    overflow: auto;
}

.vermais {
    flex-shrink: 0;
    color: #a6a6a6;
}