:root {
    --column-size: 5.712vw;
    --column-count: 12;
    --gap-size: 2.857vw;
    --grid-columns: repeat(var(--column-count), var(--column-size));
    --grid-gap: var(--gap-size);
    --grid-area-full: 1/1/span 1/span var(--column-count);
    --grid-area-side-bar: 1/1/span 1/span 3;
    --hidde-side-bar: translate(-22.85vw)
}

.bg-primary {
    background-color: #0378A6;
    color: white;
}

.primary {
    color: #0378A6;
}

.bg-second {
    background-color: #F27F3D;
    color: white
}

span.second {
    color: #F27F3D
}

span.second-tint {
    color: #FF9B53
}

span.third {
    color: #85A63F
}

.lighter {
    font-weight: lighter;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px 0 40px 0;
}

.header img {
    width: 230px;
}

.header nav {
    width: 30%;
    font-weight: bold;
    color: #8D8D8D;
    font-size: 1.2em;
}

.hero> :first-child {
    grid-column-start: 1;
    grid-column-end: span 5;
    grid-row-start: 1;
    z-index: 1;
    font-size: 3em;
}

.hero> :last-child {
    grid-column-start: 5;
    grid-column-end: span 8;
    grid-row-start: 1;
    width: 100%;
    height: 540px;
    object-fit: cover;
}

.smash {
    align-items: center;
}

.smash>* {
    grid-row: 1;
    width: 100%;
    text-align: center;
}

.smash .center-text {
    grid-column-start: 5;
    grid-column-end: span 4;
    font-size: 2.5em;
    text-align: center;
    grid-row: 1;
}

.smash>img {
    height: 530px;
    object-fit: cover;
    opacity: 0.1;
    z-index: -1;
    object-position: 10% 12%;
}

.smash .center-gradient {
    background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 80%);
    opacity: 1;
    height: 100%;
}

.container.overflow {
    position: relative;
    justify-content: center;
    justify-items: center;
    height: 325px;
}

.container .center-img {
    position: absolute;
    width: 130%;
    height: 645px;
    opacity: 0.1;
    z-index: -1;
    object-fit: cover;
    object-position: 10% 22%;
}


.even .shadow {
    background-color: #545454;
    grid-column: 6/ span 7;
    grid-row: 1;
    height: 55%;
    width: 100%;
    z-index: -1;
}

.even>img {
    width: 100%;
    height: 615px;
    object-fit: cover;
}

.even> :first-child {
    grid-row: 1;
    grid-column: 1/ span 6;
}

.even>h2 {
    font-size: 2.5em;
    color: #F8F8F8;
}

.even> :last-child {
    grid-row: 1;
    grid-column: 8/ span 4;
}

.center {
    min-height: 400px;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}

.center>h2 {
    grid-column: 3/ span 8;
    font-size: 2.5em;
    text-align: center;
}

.even-columns> :first-child {
    grid-column: 1/ span 6;
}

.even-columns> :last-child {
    grid-column: 7/ span 6;
}

footer .about {
    display: grid;
    justify-content: space-between;
    align-content: space-between;
    height: calc(100% - 4em);
    grid-column: 7/ span 5;
    padding: 2em;
    gap: 1.5em;
}

.about a.button {
    background-color: #85a63f;
    color: white;
    border: none;
    padding: .5em;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}

.map {
    height: 450px;
  width: 100%;
  position: relative;
}

a svg {
    fill: #f27f3d;
    background-color: white;
    border-radius: 50%;
    width: 45px;
}


@media (max-width: 825px) {
    .hero> *,
    .center>h2,
    .even-columns> *,
    .even> * {
        grid-column: 1/-1 !important;
    }

    .header {
        display: grid;
    }

    .map {
        height: 330px;
        margin-top: 1.5em;
    }
}