:root {
    --column-size: 5.712vw;
    --column-count: 12;
    --gap-size: 2.857vw;
    --grid-columns: repeat(var(--column-count), var(--column-size));
    --grid-gap: var(--gap-size);
    --grid-area-full: 1/1/span 1/span var(--column-count);
    --grid-area-side-bar: 1/1/span 1/span 3;
    --hidde-side-bar: translate(-22.85vw)
}

.primary {
    color: #0378A6;
}

span.second {
    color: #F27F3D
}

span.second-tint {
    color: #FF9B53
}

span.third {
    color: #85A63F
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}

.header img {
    width: 230px;
}

.header nav {
    width: 30%;
    font-weight: bold;
    color: #8D8D8D;
    font-size: 1.2em;
}

.container {
    display: grid;
    grid-template-columns: repeat(12, 75px);
    gap: 30px;
    align-items: center;
}

.container .first-text {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-column-end: span 5;
    z-index: 1;
    font-size: 3em;
}

.container .second-img {
    grid-column-start: 6;
    grid-column-end: span 6;
    width: 100%;
    grid-row-start: 1;
    height: 80%;
    object-fit: cover;
}

.container.overflow {
    position: relative;
    justify-content: center;
    justify-items: center;
    height: 325px;
}

.container .center-img {
    position: absolute;
    width: 130%;
    height: 645px;
    opacity: 0.1;
    z-index: -1;
    object-fit: cover;
    object-position: 10% 22%;
}

.container .center-gradient {
    background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgba(255,255,255,0) 80%);
    opacity: 1;
}

.container .center-text {
    grid-column-start: 5;
    grid-column-end: span 4;
    font-size: 2.5em;
    text-align: center;
    grid-row: 1;
}

.container .shadow {
    background-color: #545454;
    grid-column: 6/ span 7;
    grid-row: 1;
    height: 55%;
    width: 100%;
}

.container .left-img {
    grid-row: 1;
    grid-column: 1/ span 6;
    width: 100%;
    height: 86%;
    object-fit: cover;
}

.container .right-text {
    grid-column: 8/ span 4;
    font-size: 2.5em;
    grid-row: 1;
    color: #F8F8F8;
}

.container .center-text-l {
    grid-column: 4/ span 6;
    font-size: 2.5em;
    text-align: center;
    grid-row: 1;
    color: #0378A6;
}

/* essa é a configuracao preliminar os elementos na resolucao mobile */
@media (max-width: 1350px) {
    .header {
        display: grid;
        align-items: center;
        justify-content: center;
        /*! margin-top: 40px; */
    }
    
    .header img {
        width: 230px;
    }
    
    .header nav {
        width: 30%;
        font-weight: bold;
        color: #8D8D8D;
        font-size: 1.2em;
    }
    
    .container {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        gap: 15px;
        align-items: center;
    }
    
    .container .first-text {
        grid-column: 1/span 8;
        grid-row: 1 / span 3;
        z-index: 1;
        font-size: 2em;
        padding: .5em;
    }
    
    .container .second-img {
        grid-column: 1 / span 8;
        width: 100%;
        grid-row: 3/ span 5;
        height: 295px;
        object-fit: cover;
    }
    
    .container.overflow {
        position: relative;
        justify-content: center;
        justify-items: center;
        height: 210px;
    }
    
    .container .center-img {
        position: absolute;
        width: 100vw;
        height: 182px;
        opacity: 0.2;
        z-index: -1;
        object-fit: cover;
        object-position: 50% -31%;
    }
    
    .container .center-gradient {
        background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgba(255,255,255,0) 80%);
        opacity: 1;
    }
    
    .container .center-text {
        grid-column: 2 / span 6;
        font-size: 2em;
        text-align: center;
        grid-row: 1;
    }
    
    .container .shadow {
        background-color: #545454;
        grid-column: 1/ span 8;
        grid-row: 2 / span 7;
        height: 100%;
        width: 100%;
    }
    
    .container .left-img {
        grid-row: 1 / span 3;
        grid-column: 2/ span 6;
        width: 100%;
        height: 86%;
        object-fit: cover;
    }
    
    .container .right-text {
        grid-column: 2/ span 6;
        font-size: 2em;
        grid-row: 4 / span 2;
        color: #F8F8F8;
    }
    
    .container .center-text-l {
        grid-column: 1/ span 8;
        font-size: 2em;
        text-align: center;
        grid-row: 1;
        color: #0378A6;
    }
}